@model List<SaglikWebUygulamasi1.Models.Hastane>
@{
    ViewBag.Title = "Hastaneler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hastalar</h2>

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <div class="container-fluid px-4">
            <div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <!-- TABLONUN İÇERİĞİ-->
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Hastane Ad</th>
                                    <th>Il Ad</th>
                                    <th>Ilce Ad</th>
                                    <th>Hastane Adresi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.HastaneAd</td>
                                        <td>@item.Il.IlAd</td>
                                        <td>@item.Ilce.IlceAd</td>
                                        <td>@item.HastaneAdresi</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

